<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/viewcli*" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/viewpag*" access="hasRole('ROLE_USER')" />		
		
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		
		<form-login login-processing-url="/j_spring_security_check"
		    login-page="/login" 
		    default-target-url="/welcome" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		
		<!-- enable csrf protection -->
		<csrf disabled="true"/>
	</http>
	<!-- Select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query=
					"select username, password, 1 as enabled from usuarios where username=?"
				authorities-by-username-query=
					"select username, role_user as authority from roles_usuarios where username =?  " />
		</authentication-provider>
	</authentication-manager>

</bean:beans>