@charset "ISO-8859-1";
#cont{
	max-width: 540px;
	
	
	
}
	body{
	background-color: AliceBlue;
	text-align:center; 
	}	
	/*css de validador*/
	.error {
         color: #ff0000;
      }

      .errorblock {
         color: #000;
         background-color: #ffEEEE;
         border: 3px solid #ff0000;
         padding: 8px;
         margin: 16px;
      }
